/* * {
  border: 1px solid #ffffff;
} */

body {
  background-image: url(./starry-sky.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border: 0px;
  paddiing-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 时间 */
body div:first-child {
  position: absolute;
  top: 10%;
}
#time {
  font-size: 5em;
  color: rgb(255, 255, 255);
  margin: 0;
  border: 0;
  padding: 0;
}
#date {
  text-align: center;
  color: white;
}
/* 输入框 */
#input {
  display: block;
  background: 0;
  margin-left: 50px;
  border: 0;
  padding: 4px 2px;
  border-bottom: 2px solid white;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  outline: none;
  transition: border-color 0.2s ease;
  color: rgb(255, 255, 255);
}
input::placeholder {
  font-style: normal;
  color: #ccc;
}

#button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  font-size: 2em;
  text-align: center;
  border-radius: 30%;
  border: 0;
}
#button:hover {
  opacity: 0.5;
}
