/* * {
  border: 1px solid #ff0000;
} */

body {
  background-image: url(../image/starry-sky.jpg);
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 时间 */
body div:first-child {
  position: absolute;
  top: 10%;
}
#time {
  font-size: 5em;
  color: rgb(255, 255, 255);
  margin: 0;
  border: 0;
  padding: 0;
}
#date {
  text-align: center;
  color: white;
}
/* 输入框 */
#input {
  display: block;
  background: 0;
  margin-left: 50px;
  border: 0;
  padding: 4px 2px;
  border-bottom: 2px solid white;
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  outline: none;
  transition: border-color 0.2s ease;
  color: rgb(255, 255, 255);
}
input::placeholder {
  font-style: normal;
  color: #a8a8a8;
}

#button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  font-size: 2em;
  text-align: center;
  border-radius: 30%;
  border: 0;
}
#button:hover {
  opacity: 0.5;
}
/* 基础 */
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
/* 备忘录 */
.memo {
  color: rgb(0, 0, 0);
  position: relative;
  top: 27%;
  height: 50vh;
  width: 75vw;
  background-color: white;
  opacity: 0.6;
  border-radius: 20px;
}
.memoInputAdd {
  position: absolute;
  bottom: 5%;
}
/* 输入框 */
.memoInput {
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  border: 0;
  border-bottom: 2px solid black;
  text-align: center;
  line-height: 1.5;
}
/* 按钮 */
.clearAll {
  border: transparent;
  background: transparent;
  font-weight: bold;
  font-size: 1.2em;
}
.clearAll:hover {
  opacity: 0.5;
}

.content {
  margin: 0;
  padding: 0;
  position: relative;
  left: 20%;
  right: 20%;
  bottom: 20%;
  overflow: auto;
  font-size: 1.2em;
}
li {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
/* 动画 */
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: translateY(-1px);
  }
  25%,
  50%,
  75% {
    transform: translateY(1px);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
li {
  line-height: 1.5;
}
/* 提示 */
.tip {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-weight: bold;
  color: #a8a8a8;
}

.addMemo {
  display: none;
}
/* 手机端适配 */

@media (max-width: 700px) {
  .memo {
  top: 30%;
  }
  body {
    background-image: url("../image/starry-sky.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;
    border: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #time {
    font-size: 5em;
    margin: 0;
  }
  #date {
    text-align: center;
    margin-bottom: 100px;
    font-size: 1.2em;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 3em;
    margin-bottom: 200px;
    position: absolute;
    top: 40%;
    max-width: 80vw;
  }
  #input {
    background: 0;
    font-size: 0.7em;
    line-height: 1.5;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #f5f4f4;
    margin-bottom: 0px;
    margin-left: 0;
    color: white;
    max-width: 80vw;
    outline: none;
  }
  input::placeholder {
    color: #cac9c9;
  }
  #button {
    font-size: 0.8em;
    padding: 20px;
  }
  .memoInputAdd {
    max-width: 60vw;
    font-size: 1em;
    flex-direction: column;
  }
  .memoInput {
    max-width: 50vw;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .addMemo {
    display: flex;
    border: transparent;
    background: transparent;
    font-weight: bold;
    font-size: 1.2em;
  }
  .addMemo:hover {
    opacity: 0.5;
  }
  .mobileButtom {
    justify-content: space-around;
    margin-top: 10px;
  }
  .tip {
    display: none;
  }
  .content {
    right: 10%;
    left: 5%;
    bottom: 25%;
    padding: 0;
  }
  li {
    font-weight: normal;
  }
}
